* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    margin-right: 32px;
    color: #17233D;
    cursor: pointer;
}

.button-signup {
    background: #4CB538;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.logo-image {
    width: 595px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

img {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 123px;
    margin-top: 163px;
    display: inline-block;

}

div{
    display: inline-block;
    margin-left: 85px;
    width: 493px;

}


h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;

}

.button-learnmore{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    background: transparent;
    border: none;
    cursor: pointer;
}